/* Reset de estilos */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Barra de navegación */
nav {
  background-color: #444;
  padding: 10px;
  color: red;

}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

article {
  background-color: white;
  border: 1px solid #ddd;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
}

button{
  margin-top: 10px;
  background: linear-gradient(black, white);
}

footer {
  margin-top: 20px;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
}


/* Estilos personajes */
#randomCard{
  margin: 30px;
  padding: 30px;
  border-radius: 8px;
  align-items: center;
}

.charactersList {
  border: 1px solid #000;
  border-radius: 5%;
  padding: 10px;
  margin: 10px 10px;
  display: inline-block;
  width: 250px;
  height: 475px;
  text-align: center;
  vertical-align: top;
}

.details {
  margin-top: 10px;
}

.details p {
  margin: 5px 0;
}

img {
  width: 100px;
  height: 150px;
}

/* Estilos para la barra de búsqueda si es necesario */
/*#searchInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}*/

/*Estilos batalla*/

